.footer {
  &,
  &__contact {
    @extend %grid;
    row-gap: 8rem;
  }

  &__navigation,
  &__navigation-list,
  &__icons {
    @extend %flexbox;
  }

  &__contact {
    @include containerWidth(111rem);
    width: 100%;
    row-gap: 4rem;
    padding-inline: 3.2rem;
    text-align: center;
  }

  &__title {
    @extend %heading-2;
    max-width: 35rem;
  }

  &__line {
    display: none;
  }

  &__link {
    a {
      font-size: 1.2rem;
      font-weight: 400;
      font-family: PublicSans;
      text-transform: uppercase;
      letter-spacing: 0.2rem;

      &:link,
      &:visited {
        color: $color-white;
      }

      &:hover,
      &:active {
        color: $color-cyan;
      }
    }
  }

  &__navigation {
    gap: 4rem;
    background-color: $color-grayish-blue;
    justify-self: stretch;
    padding-block: 5.6rem;

    &-list {
      gap: 3.2rem;
    }
  }

  &__icons {
    flex-flow: row nowrap;
    gap: 1.6rem;
  }
}

@include respond-to($breakpoint-tablets) {
  .footer {
    row-gap: 9.6rem;

    &__contact {
      text-align: left;
      grid-template-columns: auto 1fr auto;
      row-gap: 0;
      column-gap: 3.2rem;
      justify-self: stretch;
    }

    &__line {
      display: block;
      width: clamp(11.3rem, 100%, 53.4rem);
      height: 0.1rem;
      background-color: rgba($color: $color-grayish-blue, $alpha: 0.1);
    }

    &__navigation,
    ul {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }

    &__navigation {
      gap: 4.8rem;
      padding-inline: 4rem;
      padding-block: 2.4rem;
    }

    &__navigation-list {
      gap: 4.2rem;
    }

    &__icons {
      margin-left: auto;
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .footer {
    &__contact {
      padding-inline: 0;
    }
  }
}
