$breakpoint-tablets: "(min-width: 48em)";
$breakpoint-large-tablets: "(min-width: 64em)";
$breakpoint-desktops: "(min-width: 75em)";

$color-white: #fff;
$color-cyan: #5fb4a2;
$color-dark-blue: #203a4c;
$color-grayish-blue: #33323d;
$color-very-grey: #fafafa;
$color-light-grey: #eaeaeb;
$color-bright-red: #f43030;
