.project__details {
  padding-inline: 3.2rem;
  margin-block-end: 6.4rem;

  picture,
  img {
    width: 100%;
    max-width: none;
  }
}

.detail {
  margin-block-end: 4.8rem;

  &__image {
    margin-block-end: 4rem;
  }

  &__info {
    @extend %grid;
    place-items: start;
    row-gap: 2.4rem;
    padding-block: 2.4rem;
    border-top: 1px solid rgba($color: $color-grayish-blue, $alpha: 0.15);
    border-bottom: 1px solid rgba($color: $color-grayish-blue, $alpha: 0.15);
  }

  &__title {
    @extend %heading-2;
    color: $color-grayish-blue;
  }

  &__description {
    @extend %body-2;
    color: rgba($color: $color-grayish-blue, $alpha: 0.8);
  }

  &__link {
    width: 17.8rem;
  }

  &__specs {
    small {
      display: block;
      font-size: 1.3rem;
      font-family: PublicSans;
      font-weight: 700;
      line-height: lineHeight(1.3, 3);
      color: $color-cyan;
    }
  }
}

.background {
  @extend %flexbox;
  align-items: flex-start;
  gap: 2.8rem;
  margin-block-end: 4rem;

  &__title {
    @extend %heading-3;
    color: $color-grayish-blue;
    line-height: lineHeight(3.2, 4.2);
  }

  &__description {
    @extend %body-2;
    color: rgba($color: $color-grayish-blue, $alpha: 0.8);
  }
}

.preview {
  &__title {
    @extend %heading-3;
    color: $color-grayish-blue;
    line-height: lineHeight(3.2, 4.2);
    margin-block-end: 4rem;
  }

  &__images {
    @extend %flexbox;
    gap: 3.2rem;
  }
}

@include respond-to($breakpoint-tablets) {
  .project__details {
    padding-block-start: 4.7rem;
    padding-inline: 4rem;
    margin-block-end: 8rem;
  }

  .detail {
    margin-block-end: 4rem;
    &__info {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.2rem;
      row-gap: 1.6rem;
      padding-block: 3.2rem;
    }

    &__description {
      grid-column: 2;
      grid-row: 1 / span 3;
    }
  }

  .background {
    &__description {
      max-width: none;
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .project__details {
    display: grid;
    grid-template-columns: 35rem 1fr;
    gap: 11.5rem 12.5rem;
    padding-inline: 0;
    margin-block-end: 6.4rem;
  }

  .detail {
    max-width: 35rem;
    margin-block-end: 0;

    &__image {
      grid-column: 1 / -1;
      margin-block-end: 0;
    }

    &__info {
      grid-template-columns: 1fr;
      padding-block: 4.8rem;
      gap: 0;
    }

    &__title {
      margin-block-end: 2.9rem;
    }

    &__description {
      grid-column: 1;
      grid-row: 2;
      margin-block-end: 2.3rem;
    }

    &__specs {
      margin-block-end: 3.2rem;

      small:first-of-type {
        margin-block-end: 1.6rem;
      }
    }
  }

  .background,
  .preview {
    align-self: start;
    grid-column: 2;
    grid-row: 2;
  }
}
